@media only screen and (max-width: 1615px) {
    .BTU-saturday {
        display: none;
    }
}

@media only screen and (max-width: 1592px) {
    .BTU-lecInfo {
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media only screen and (max-width: 1455px) {
    .BTU-graphColumn {
        width: 80px;
    }

    .BTU-GraphDay {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .BTU-schedule {
        margin-top: 25px;
    }

    .BTU-graphColumn {
        width: 100px;
    }

    .BTU-saturday {
        display: flex;
    }

    .BTU-graphHead,
    .BTU-lecHead-wrapper,
    .BTU-newsHeader {
        justify-content: center;
    }
}

@media only screen and (max-width: 1365px) {
    .BTU-newsHeader {
        justify-content: center;
    }
}

@media only screen and (max-width: 965px) {
    .BTU-saturday {
        display: none;
    }
}

@media only screen and (max-width: 888px) {
    .BTU-headTxt {
        display: none;
    }
}


@media only screen and (max-width: 839px) {
    .BTU-lecInfo-wrapper {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 863px) {

    .BTU-rights {
        display: none;
    }

    .BTU-lecInfo-wrapper {
        margin-top: 15px;
        justify-content: center;
    }

    .BTU-lecture-wrapper {
        display: flex;
    }

    .navbar-BG {
        position: unset;
    }

    .BTU-inbox,
    .BTU-username,
    .BTU-logout {
        margin-left: 15px !important;
    }

    .BTU-inbox,
    .BTU-username {
        display: flex;
        justify-content: center;
    }

    .BTU-dropdown {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }

    .BTU-headProps {
        border-radius: 0 0 0 0;
    }

    .BTU-list {
        display: flex;
        justify-content: center;
        border-radius: 0;
    }

    .BTU-list:hover {
        background-color: rgb(248 249 250);
    }

    #sidebar-wrapper {
        width: 100%;
        margin: 0;
        left: 0;
        position: inherit;
        overflow-y: inherit;
    }


    .BTU-pageContent {
        margin: 0;
    }

    .BTU-lecInfo-wrapper {
        margin-top: 0;
    }
}

@media only screen and (max-width: 580px) {
    .BTU-lecInfo-wrapper {
        margin-top: 15px;
        justify-content: center;
    }

    .BTU-lecture-wrapper {
        display: flex;
    }
}

@media only screen and (max-width: 546px) {
    .BTU-friday {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 443px) {
    .BTU-thursday {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 340px) {
    .BTU-lecInfo {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 293px) {
    .BTU-headProps {
        height: 110px;
    }

    .BTU-headProps>div {
        justify-content: center !important;
    }
}